SocksPort 0 # Отключаем на узле клиентский socks5-транспорт
RunAsDaemon 1 # Запуск TOR в фоне
#Log notice file /var/log/tor/notices.log # Файл, куда будут записываться логи
DataDirectory /var/lib/tor # Директория, где будут хранится файлы Тора
ORPort 39331 # Ставим какой-нибудь менее очевидный порт для входящих соединений, и лучше ставить >1024
#Address <IP-адрес> # Адрес для входящих соединений нашего моста. Ставим IP адрес интерфеса, который смотрит в сеть.
ExitPolicy reject *:* # Запрещаем любые исходящие соединения из сети Tor в Интернет
ExitPolicy reject6 *:* # Как предыдущее, только для IPv6
BridgeRelay 1 # Делаем наш сервер bridge-узлом
PublishServerDescriptor 0 # Никуда не публикуем данные нашего моста - он будет приватным

## Pluggable transport settings
### obfs4
ServerTransportListenAddr obfs4 0.0.0.0:35671 # IP-адрес и порт, которые будет слушать obfs4
ServerTransportPlugin obfs4 exec /usr/bin/obfs4proxy # Тут указывается, что для запуска obfs4 нужно запустить сначала его демон
ExtORPort auto # Поднятие еще одного сокета демоном Tor для взаимодейсвия с демоном obfs4. Настройка Auto говорит о том, что сокет будет выбран автоматически, а его данные для obfs4 записаны в переменные окружения
